body{
    height: 100vh;
    width: 100%;
}
section{
    height: 1000px;
    width: 100%;
}
.inicio{
    height: 1000px;
    width: 100%;
}
.jogo{
    height: 1000px;
    width: 100%;
}
.sobre{
    height: 1000px;
    background-color: aqua;
    width: 100%;
}
.suporte{
    height: 1000px;
    width: 100%;
}
.agradecimentos{
    height: 1000px;
    width: 100%;
}
footer{
    height: 200px;
    width: 100%;
    font-size: .75rem;
    background-color: black;

}