body{
    height: 100vh;
}
.lista{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
}
.inicio{
    display: flex;
}
.jogo{
    background-color: tomato;
}
.sobre{
    background-color: aqua;
}
.suporte{
    background-color: blueviolet;
}
.agradecimentos{
    background-color: tomato;
}